:root {
    color: #9c9c9c;
    font: 1rem "PT Sans", sans-serif;
}

body {
    background-image: radial-gradient(circle, #0097b2, #3b6a8e, #41425b, #2b212b, #000000);
}

html,
body,
.container__parent {
    height: 100%;
}

.container__parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

a {
    color: inherit;
}

a:hover {
    color: #0097B2;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.btn--primary {
    background: #0097B2;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
}

.btn--primary:hover {
    background: #6c7ff2;
}

.btn--primary:active {
    background: #0097B2;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
    margin-left: -80px;
}

.form__field {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

.logo {
    border: none;
}

.logo img {
    border-radius: 50%;
}

.card {
    background-color: transparent;
}

.logo-container {
    margin-top: 30%;
    margin-bottom: 20px;
}

.container__item--bottom {
    margin-top: 20px;
    color: azure;
}